/*
font-family: 'Merriweather', serif; \\ Head EN
font-family: 'Montserrat', sans-serif; \\ Content EN
font-family: 'Mali', cursive; \\ Content TH
font-family: 'Itim', cursive; \\ Head TH
font-family: 'Dokdo', cursive; \\ LabMadLeaning
*/
html{
  scroll-behavior: smooth;
}
body{
  cursor: default;
  margin: 0;
  padding: 0;
}


/*Navigationbar*/
.navigationbar{
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  overflow: hidden;
}
.navigationbar .NameWeb{
  float: left;
  color: #000000;
  font-family: 'Merriweather', serif;
  font-size: 25px;
  margin-left: 40px;
}
.navigationbar .NavigationbarNormal{
  float: right;
  margin-right: 40px;
  position: relative;
  transform: translateY(25%);
  transition: 0.5s;
}
.navigationbar .NavigationbarNormal ul li{
  display: inline-block;
  list-style: none;
  margin: 0 10px 0 10px;
}
.navigationbar .NavigationbarNormal ul li a{
  text-decoration: none;
  color: #000000;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  transition: 0.5s;
}

.navigationbar .NavigationbarNormal ul li a:hover{
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid rgba(0, 0, 0, 1);
}


.navigationbar .NavigationbarPhone{
  width: 100%;
  background-color: #ffffff;
  height: 0;
  transition: 0.5s;
}
.navigationbar .NavigationbarPhone ul{
  display: block;
  margin: 0;
  padding: 0;
  transform: translateY(-100%);
  transition: 0.5s;
}
.navigationbar .NavigationbarPhone ul li{
  width: 100%;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 10px 0 10px 0;
  transition: 0.5s;
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

.navigationbar .NavigationbarPhone ul li:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.navigationbar .NavigationbarPhone ul li:hover b #icon_navigationbar_left{
  transform: translateX(-20px);
}
.navigationbar .NavigationbarPhone ul li:hover b #icon_navigationbar_right{
  transform: translateX(20px) scaleX(-1);
}

#icon_navigationbar_left{
  position: absolute;
  left: 30vw;
  transition: 0.5s;
}
#icon_navigationbar_right{
  position: absolute;
  right: 30vw;
  transform: scaleX(-1);
  transition: 0.5s;
}


.container {
  display: none;
  cursor: pointer;
  float: right;
  margin-right: 40px;
  position: relative;
  transform: translateY(30%);
  z-index: 100;
}
.bar1, .bar2, .bar3{
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.5s;
}

.change .bar1{
  transform: rotate(-45deg) translate(-7px, 5px);
}
.change .bar2{
  opacity: 0;
}
.change .bar3{
  transform: rotate(45deg) translate(-7px, -7px);
}

.Show .NavigationbarPhone{
  height: 100vh;
}
.Show .NavigationbarPhone ul{
  transform: translateY(0);
}


/*Banner*/
.ImageTop{
  width: 100%;
  position: relative;
  height: 70vh;
  overflow: hidden;
}
.ImageTop .ImageTopIMG1{
  display: block;
  width: 100%;
  filter: blur(2px);
}
.ImageTop .ImageTopIMG2{
  display: none;
  width: 100%;
  filter: blur(2px);
}
.ImageTop .ContentInImageTop{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ImageTop .ContentInImageTop b{
  color: #ffffff;
  font-family: 'Dokdo', cursive;
  font-size: 5vw;
}
.ImageTop .ContentInImageTop .ContentInImageTop_Icon{
  text-align: center;
}
.ImageTop .ContentInImageTop .ContentInImageTop_Icon a{
  text-decoration: none;
  color: #ffffff;
  font-size: 2vw;
  margin: 0 10px 0 10px;
  transition: 0.5s;
}
.ImageTop .ContentInImageTop .ContentInImageTop_Icon .Facebook:hover{
  color: #4267B2;
}
.ImageTop .ContentInImageTop .ContentInImageTop_Icon .Instagram:hover{
  color: #FD1D1D;
}
.ImageTop .ContentInImageTop .ContentInImageTop_Icon .Twitter:hover{
  color: #1DA1F2;
}



/*Go to top button*/
#GoToTopBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 98;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #0f0f0f;
  color: white;
  cursor: pointer;
  padding: 15px;
  opacity: 0.5;
  transition: 0.5s;
}

#GoToTopBtn:hover{
  opacity: 1;
}



/*Box*/
.Box{
  width: 250px;
  margin: 0 10px 0 10px;
  display: inline-block;
}
.Box img{
  width: 100%;
  border-radius: 5px;
}
.Box .Content_Box{
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-30px);
  width: 85%;
  height: 150px;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: justify;
  font-size: 20px;
  font-family: 'Itim', cursive;
  font-family: 'Merriweather', serif;
}
.Box .Content_Box .PostBy{
  position: absolute;
  bottom: 5px;
  font-size: 12px;
}
.Box .Content_Box .PostBy .PostByIMG{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: translateY(9px);
}

.Box:hover{
  cursor: pointer;
}




@media only screen and (max-width: 1220px) {
  .ImageTop{
    height: 50vh;
  }
}

@media only screen and (max-width: 835px) {
  .navigationbar .NameWeb{
    font-size: 15px;
  }
  .navigationbar .NavigationbarNormal{
    display: none;
  }
  .container {
    display: inline-block;
  }

  .ImageTop .ImageTopIMG1{
    display: none;
  }
  .ImageTop .ImageTopIMG2{
    display: block;
  }
  .ImageTop .ContentInImageTop b{
    font-size: 40px;
  }

  .ImageTop .ContentInImageTop .ContentInImageTop_Icon .Facebook{
    font-size: 20px;
  }
  .ImageTop .ContentInImageTop .ContentInImageTop_Icon .Instagram{
    font-size: 20px;
  }
  .ImageTop .ContentInImageTop .ContentInImageTop_Icon .Twitter{
    font-size: 20px;
  }
}

@media only screen and (max-width: 580px){
  .Box .Content_Box{
    font-size: 15px;
    height: 100px;
  }
  .Box .Content_Box .PostBy{
    font-size: 10px;
  }
  .Box .Content_Box .PostBy .PostByIMG{
    width: 20px;
    height: 20px;
    transform: translateY(5px);
  }
}
