/*
font-family: 'Merriweather', serif; \\ Head EN
font-family: 'Montserrat', sans-serif; \\ Content EN
font-family: 'Mali', cursive; \\ Content TH
font-family: 'Itim', cursive; \\ Head TH
font-family: 'Dokdo', cursive; \\ LabMadLeaning
*/
.New{
  position: relative;
  width: 1200px;
  left: 50%;
  transform: translate(-50%, -50px);
  margin: 0;
  padding: 0;
}
.Content{
  width: auto;
  position: relative;
  width: 1200px;
  left: 50%;
  transform: translate(-50%, -50px);
  margin: 0;
  padding: 0;
  border: 2.5px solid #000000;
  border-radius: 20px;
}
.Content .Content_Header{
  font-family: 'Merriweather', serif;
  color: #000000;
  font-size: 30px;
  background-color: #ffffff;
  position: absolute;
  transform: translate(65px, -50px);
  padding: 0 10px 0 10px;
  z-index: 1;
}




@media only screen and (max-width: 1220px) {
  .New{
    width: auto;
  }
  .New .Box{
    width: 170px;
  }
  .Content{
    width: 800px;
  }
  .Content .Box{
    width: 170px;
  }
}

@media only screen and (max-width: 835px) {
  .New .Box{
    width: 250px;
  }
  .Content{
    width: 550px;
  }
  .Content .Box{
    width: 250px;
  }
  .ImageTop .ContentInImageTop .ContentInImageTop_Icon a{
    font-size: 20px;
  }
}

@media only screen and (max-width: 580px) {
  .New .Box{
    width: 35vw;
  }
  .Content{
    width: 85vw;
  }
  .Content .Box{
    width: 35vw;
  }
}
